:root {
    --accentFont: Britanic;
    --mainFont: "Century Gothic";
    --pink: #ff4a6b;
    --purple: #382f93;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    background-color: var(--purple);
}

@font-face {
    font-family: Britanic;
    src: url(BRITANIC.TTF);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic', sans-serif;
    background-color: var(--purple);
}
header {
    overflow: hidden;
    margin: 0;
    display: flex;
    width: 100%;
    height: 100dvh;
    text-align: end;
    align-items: flex-end;
    justify-content: center;
    font-family: var(--mainFont);
    border-radius: 0 0 1rem 1rem;
    padding-bottom: 1rem;
    background-color: white;
}
#hello-vertical {
    font-family: var(--accentFont);
    margin: 0;
    letter-spacing: 2rem;
    font-size: 9rem;
    writing-mode: vertical-rl;
    transform: rotate(180deg); 
}
#future-employee {
    display: flex;
    text-wrap : nowrap;
    font-weight: 100;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    margin: 0 4rem 1rem 0;
    color: var(--pink);
    cursor: pointer;
    align-items: flex-end;
}
#arrow{
    transition: transform 0.3s ease;
    width: 7%;
    margin-bottom: 1%;
    }

#banner-girl-components {
    width: 50%;
}
.girl {
    width: 50%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.girl.back {
    z-index: -1;
    top: 35%;
    width: 45%;
}
#laptop {
    position: absolute;
    width: 12.5%;
    top: 65%;
    left: 49%;
    transform: translate(-50%, -50%);
}
#web-page  {
    position: absolute;
    width: 10%;
    top: 75%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.girl,
.girl.back {
  transition: transform 0.2s ease-out;
}
.sparkling-generated {
    position: absolute;
    width: 3%;
    pointer-events: none;
    animation: sparkleFade 2s forwards;
    z-index: -10;
}
@keyframes sparkleFade {
    0%   { opacity: 1; transform: scale(1); }
    100% { opacity: 0; transform: scale(1.5); }
}

main {
    display: flex;
    justify-content: flex-start;
    background-color: var(--purple);
    column-gap: 0.3rem;
    row-gap: 0.3rem;
    padding: 0.5%;
    overflow-y: hidden;
}
.info-section{
    background-color: white;
    border-radius: 1rem;
    padding: 1.5%;
}
#contact-exp-edu-hobbies-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    column-gap: 0.3rem;
    row-gap: 0.3rem;
}
#contact-section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
#edu-hobbies-container {
    display: flex;
    column-gap: 0.3rem;
    row-gap: 0.3rem;
}
#education {
    width: 80%;
}
.education-info {
    width: 85%;
}
#hobbies {
    width: 20%;
}
.sections-headers {
    margin: 0 0 0.5rem 0;
    font-family: var(--accentFont);
    letter-spacing: 0.1rem;
    color: var(--pink);
}
#profile-photo {
    width: 200px;             
    height: 200px;
    border-radius: 50%;
    object-fit: contain;
    border: solid 0.2rem var(--purple);
}

.place {
    display: flex;
    justify-content: flex-start;
    align-items:center;
    margin: 0;
    font-size: 0.9rem;
}
.experience-sections .place img{
    width: 0.8rem;
    margin: 0.2rem 0.5rem;
    
}
#contact-info h1{
    font-family: var(--accentFont);
    font-size: 3rem;
    color: var(--pink);
    margin: 0.5rem 0 0 0;
}
#contact-info h2 {
    font-family: var(--accentFont);
    font-size: 1.2rem;
    color: var(--purple);
    letter-spacing: 0.1rem;
    margin: 0 0 1rem 0;
}
.contacts img {
    width: 1rem;
    margin: 0 0.5rem;
}
.contacts {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0;
}
.contacts figcaption a {
    text-decoration: none;
    color: black;
}
.contacts figcaption a:hover {
    color: var(--pink);
}
#skills-lang-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    column-gap: 0.3rem;
    row-gap: 0.3rem;
}
.sections-lists {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    column-gap: 0.7rem;
    row-gap: 0.5rem;
    list-style: none;
    padding: 0;
}
.sections-lists li {
    padding: 0.2rem;
    border: solid 0.1rem var(--pink);
    border-radius: 0.7rem;
}
.experience-sections h3{
    margin: 0;
    font-size: 1rem;
}
.experience-sections h3 span {
    font-family: var(--accentFont);
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    color: white;
    background-color: var(--purple);
    padding: 0.1rem 0.5rem;
    border-radius: 1rem;
}
.skills-sections h3{
    background-color: var(--purple);
    font-family: var(--accentFont);
    color: white;
    border-radius: 0.7rem;
    letter-spacing: 0.1rem;
    padding: 0.1rem 0.5rem;
    width: max-content;
}
#blinking-text {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 0.8rem;
    }
    #laptop {
        top: 60%;
    }
    #web-page {
        top: 67.5%;
    }
    #banner-girl-components {
        width: 70%;
    }
    .girl {
        width: 65%;
        top: 45%;
        left: 50%;
    }
    .girl.back {
        top: 40%;
        width: 55%;
    }
    #laptop {
        width: 16%;
        top: 60%;
    }
    #web-page  {
        width: 12.5%;
        top: 65%;
    }
    
}
@media screen and (max-width: 900px) {
   main {
        flex-direction: column;
        width: 100%;
        align-items: center;
   }
   #contact-exp-edu-hobbies-container{
        width: 80%;
   }
   .info-section {
        width: 100% !important;
   }
   #edu-hobbies-container {
        flex-direction: column;
   }
   #skills-lang-container {
        width: 80%;
   }


    
}
@media screen and (max-width: 800px) {
    html {
        font-size: 1rem;
    }
    header {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 5% 5%;
    }
    #hello-vertical {
        transform: none; 
        writing-mode: horizontal-tb;
        text-align: center;
        
    }
    #future-employee {
        font-size: 2.5rem;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        text-wrap: wrap;
        text-align: center;
    }
    #arrow {
        width: 10%;
        margin-left: 35%;
    }
    
    .girl {
        width: 95%;
        top: 45%;
        left: 50%;
    }
    .girl.back {
        top: 40%;
        width: 90%;
    }
    #laptop {
        width: 25%;
        top: 62.5%;
    }
    #web-page  {
        width: 20%;
        top: 70%;
    }

}



